*{
padding: 0;
box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: black;
}
h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}
#first{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 30px;
    flex-wrap: wrap;
}
.user{
    width: 200px;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* HOVER EFFECT */
.user:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}
img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
h2{
    font-size: 20px;
}
a{
    text-decoration: none;
    color: orange;
  
}